<!DOCTYPE html>
<html lang="en">
<head>
  
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_SVG"></script>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./src/style.css">
  <title>{{ title }} | Meu Site</title>

</head>
<body>
  <header>
    <div class="logo-container">
      <img src="./src/Ufabc_logo.png" alt="UFABC">
    </div>
  </header>
  {{ content | safe }}
</body>
</html>
